.Posts {
    /*border-style: solid;
    border-width: 1px;
    border-color: #333333;*/
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
}

.Images {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: auto;
    max-width: 100%;
}

.UserBtn {
    background: none;
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    font-weight: bold;
}

.LikeButton {
    background: none;
    border: none;
    width: 60px;
    font-size: 16px;
}

.LikeButtonClicked {
    background-color: #0C6291;
}

.LikeIcon {
    width: 20px;
    color: #0AFFED;
}

.Date {
    font-size: 16px;
    margin-top: 0;
}

@media only screen and (min-width: 600px) {
    .Images {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 500px;
        width: auto;
        max-width: 100%;
    }
}