.Posts {
    border: black;
    border-radius: 2px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.Images {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: auto;
    max-width: 100%;
}

.UserBtn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.LikeButton {
    background: none;
    border: none;
    width: 60px;
    font-size: 16px;
}

.LikeIcon {
    width: 20px;
    color: #0AFFED;
}

.Date {
    font-size: 16px;
    margin-top: 0;
}