@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">');

h1 {
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
}

.main {
  font-size: 18px;
  margin-top: 60px;
  }

.routesDiv {
  padding-bottom: 90px;
  border-style: solid black;
  max-width: 100%;
}

input {
  height: 30px;
}
  
@media only screen and (min-width: 600px) {
  .main {
    margin-left: 156px; /* Same as the width of the sidenav */
    margin-top: 60px;
    padding: 0px 16px;
  }

  .wrapper {
    min-width: 40vw;
    max-width: 40vw;
    height: auto;
    margin-left: 6vw;
  }

  .routesDiv {
    margin-left: auto;
    margin-right: auto;
    min-width: 20vw;
    max-width: 30vw;
  }

}