.main {
  font-size: 40px;
  margin-top: 45px;
}

@media only screen and (min-width: 600px) {
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    margin-top: 65px;
    padding: 0px 16px;
  }
}
