.CreateUserForm {
    text-align: center;
}

.formInput {
    width: 85%;
}

.ImgPreview {
    border-radius: 50%;
    height: 200px;
    width: auto;
    max-width: 100%;
}

.submitDiv {
    text-align: center;
}

.submitBtn {
    height: 30px;
    width: 85%;
    margin-bottom: 18px;
}