.wrapper {
    
    width: 90%;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

.inputText {
    width: 85%;
    height: 20px;
}

.inputBtn {
    width: 85%;
    height: 30px;
}

