.wrapper {
    width: 90%;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    /* for fade in*/
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.inputText {
    width: 85%;
    height: 20px;
}

.inputBtn {
    width: 85%;
    height: 30px;
}
